  
body {
    margin: 0 auto;
    width: 70%;
    background-color: #acc3be;
    text-align: center;
    font-size: 110%;
    font-family: sans-serif;
}

h1 {
    font-size: 180%;
    color: #037971;
    font-family: sans-serif;
    font-variant: small-caps;
    margin-top: 2%;
    font-size: 275%;
    font-weight: 300;
    margin-bottom: 2%;
}

#h1Addition {
    color: #727878;
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 21px;
}

h2 {
    color: #037971;
    font-family: sans-serif;
    font-variant: small-caps;
}

.nav {
    width: 8%;
    position: fixed;
    right: 5%;
    top: 10%;
    background-color: #4a5b5e;
    text-decoration: none;
    text-align: center;
    color: white;
}

.nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 110%;
}

.nav a:hover {
    background-color: #071e22;
    color: lightgrey;
    transform: scale(1.05, 1.05);
}

#profile {
    background-color: lightgrey;
    height: 100vh;
}

#profileEnding {
    font-family:sans-serif; 
    font-size:100%;
    color: #100621;
}

#attachedMedia {
    background-color: lightgrey;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1px;
    font-size: 90%;
}

#aboutMe {
    padding: 1%;
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
}

#profilePicture {
    height: 30%;
    width: 30%;
}

#details {
    padding: 1%;
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
}

#optionName {
    font-size: normal;
    font-weight: bold;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
}

#option {
    margin-top: 0.1%;
    margin-bottom: 3%;
}

.amsP {
    line-height: 20px;
}
