body {
    width: 70%;
    margin: 0 auto;
    background-color: #acc3be;
    text-align: center;
    font-size: 110%;
}

h1 {
    font-size: 180%;
    color: lightgrey;
    background-color: #0e3735;
    font-family: sans-serif;
    font-variant: small-caps;
    border-radius: 5px;
}

#profilePicture {
    margin-left: 1%;
    margin-top: 1%;
    max-height: 10%;
    max-width: 10%;
    transform: scale(0.6);
}

.nav {
    width: 8%;
    position: fixed;
    right: 5%;
    top: 10%;
    background-color: #4a5b5e;
    text-decoration: none;
    text-align: center;
    color: white;
}

.nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 110%;
}

.nav a:hover {
    background-color: #071e22;
    color: lightgrey;
    transform: scale(1.05, 1.05);
}
